.borde{
    border-top:solid 0.1rem #ffffff;
    }



.Barra{ 
    border-radius: 1rem !important;
    }
    


    .foto{
        margin: auto;
    }

    img.fotoperfil {
        border-radius: 100%;
        width: 65px;
        height: 65px;
      }

